<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Desafio02_DSM"
        tools:targetApi="31">
        
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <activity
            android:name=".RegistrarEmpleadoActivity"
            android:exported="false" />
        <activity
            android:name=".AddCliente"
            android:exported="false" />
        <activity
            android:name=".AddProducto"
            android:exported="false"
            android:parentActivityName=".Productos"
            android:label="Agregar Producto" />
        <activity
            android:name=".Ventas"
            android:exported="false" />
        <activity
            android:name=".Clientes"
            android:exported="false" />
        <activity
            android:name=".Productos"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="login"
                    android:path="/oauth/github"
                    android:scheme="com.example.desafio02_dsm"/>
            </intent-filter>
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>